body{
  background: #333333 url(/images/serenbe-mobile-blur.jpg) no-repeat center center fixed;
  background-size: 120%;
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  body{
    background: #222222 url(/images/serenbe-large-blur.jpg) no-repeat top center fixed;
    background-size: 130%;
  }
}
