/**
 * Basic typography style for copy text
 */
body {
  color: $text-color;
  font: $text-font-stack;
}

label {
  font-size: .9em;
  color: $text-color-secondary;
  letter-spacing: .1em;
  font-weight:300;
}


H2 ::-webkit-input-placeholder {
   font-size: .6em;
   font-weight:200;
}

::-webkit-input-placeholder {
   font-weight:200;
   font-size:.9em;
   letter-spacing: .1em;
}

:-moz-placeholder { /* Firefox 18- */
   font-weight:200;
   font-size:.9em;
}

::-moz-placeholder {  /* Firefox 19+ */
   font-weight:200;
   font-size:.9em;
}

:-ms-input-placeholder {
   font-weight:200;
   font-size:.9em;
}
